/* Styles for main page */
/* Colour Glossary
	Light Blue #D7E4EC banner background and side text
	Dark Blue #00367C Side bar and some text
	Light Grey #D1D1D1 Alt table columns
	Light Red #EA7983 Used for error rows
*/

#banner { 
	background: #D7E4EC; 
	padding-top: 10px; 
	padding-bottom: 10px; 
	border-bottom: 2px solid; 
	font: 40px "Verdana", sans-serif; 
	color: #00367C; 
	text-align: center;
}

#banner img { 
	float: left;
}

#columns { 
	background: #00367C;
}

#main { 
	position: relative;
	font-family: "Verdana", sans-serif; 
	margin-left: 18em; 
	padding-top: 4ex; 
	padding-left: 2em; 
	background: white;
}

#main a {
	font-size: 10px;
	color: #00367C;
	text-decoration: none;
}

#main a:hover {
	color:  #D7E4EC;
	background: #00367C;
}

#side { 
	float: left; 
	padding-top: 1em; 
	padding-left: 1em; 
	padding-bottom: 100em; 
	width: 17em; 
	background: #00367C;
}

#side h3, h4 { 
	color:  #D7E4EC;
	font-size: medium;
	margin-bottom: 3px;
}
	
#side a { 
	color: #D7E4EC; 
	font-size: small;
	text-decoration: none;
}

#side a:hover { 
	color: white;
	background: #00367C;
	text-decoration: underline;
}

#store .missing {
	background: #FCA3A3;
}

#store .contained {
	background: #FFFDB7;
}

#store .titled {
	background: #FEE1D2;
}

#store .titled_contained {
	background: #D7E4EC;
}

#store .heading {
	background: #CCC;
	font-weight: bold;
}

#store .error {
	color: white;
	background: red;
}

#store .not_loaded {
	background: orange;
}

#store .waiting {
	color: #900;
}

#store .processing {
	color: #906;
}

#store .ready {
	color: green;
}

#store ul {
	list-style-type: none;
	text-indent: 0px;
	padding: 1px;
	font-size: 10px;
	border: 1px solid #DDD;	
}

#store .countdown{
	color: #00367C;
}

#store .countdown td{
	padding-right: 1em;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

#store .countdown a{
	font-size: 10px;
	font-weight: normal;
}

#store li {
	width: 300px;
}

#store h1, h2 { 
	color:  #00367C; 
	font-size: medium;
  	font-family: verdana, arial, helvetica, sans-serif;
}

#store h3 { 
	color:  #00367C; 
	font-size: 10px;
	line-height: 0px;
}

#store table {
	border-collapse: collapse;
}

#store td, th {
	padding-right: 1em;
	font-size: 10px;
	text-align: left;
	vertical-align: top;
}

#store .dynamic_special_bold {
	color: #00367C;
	font-weight: bold;
}


#store td .day_heading {
	color: #00367C;
	font-weight: bold;
}

#store .comparison_date td {
	font-size: 12px;
}

#store .comparison_date th {
	font-size: 12px;
	color: #00367C;
	font-weight: bold;
}

#word {
	font-size: large;
	width: 100px;
}

#lang {
	width: 150px;
}

#link a {
	font-size: 10px;
	text-decoration: none;
}

#link a:hover{
	color: #00367C;
	background: #D7E4EC;
	text-decoration: underline;
}

#store fieldset {
	width: 400px;
}

#store fieldset legend{
	color:  #00367C; 
	font-size: medium;
	font-weight: bold;
}

.link_button a {
	font-size: 10px;
	text-decoration: none;
	color: #00367C;
}

.link_button a:hover{
	background: #D7E4EC;
	text-decoration: underline;
}

.info_text {
	font-size: 11px;
	color: #00367C;
}

#colour_key  {
	position: absolute;
	top: 10;
	right: 0;
}

.schedule_comparison_header {
	height: 10em;
}

.schedule_comparison {
}


.folder_link a {
	color: black;
	font-size: 14px;
	text-decoration: none;
}

.folder_link a:hover{
	color: #00367C;
	background: #D7E4EC;
	text-decoration: underline;
}

.pagination {
	font-size: 10px;
}
.current {
	font-weight: bold;
}
#store .media {
	background: #DCF0FF;
}

#store .media_table {
	margin-left: 1em;
}

#store .table_name {
	width: 100px;
}

#store .table_description {
	width: 200px;
}

#store .table_date {
	width: 60px;
}

.cross_channel_header{
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 30px;
	width: 80%;
	height: 200px;
	background: #D7E4EC;
	border: 1px solid #00367C;
	overflow: auto;
}
.cross_channel_press{
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 30px;
	width: 80%;
	height: 200px;
	background: white;
	border: 1px solid #00367C;
	overflow: auto;
}
