<h1>Editing title</h1>

<% form_for(@title) do |f| %>
  <%= f.error_messages %>

	<%= render :partial => 'entry', :locals	=> {:f => f} 	%>

    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Back', :back %>

