<h1>New Countdown IPP</h1>

<% form_for(@countdown_ipp) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'entry', :locals	=> {:f => f} 	%>
	<p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', countdown_ipps_path %>